/* =================================================================================================
Table of Contents
----------------------------------------------------------------------------------------------------
  01 Blog Layout Styles
================================================================================================= */
/* Blog Layout Styles
================================================================================================= */
/* General blog elements, only used in blog */
.fusion-post-slideshow .image {
  margin-bottom: 0;
}
.fusion-post-slideshow .fusion-image-size-fixed {
  display: block;
}
.fusion-flexslider.fusion-post-slideshow {
  overflow: visible;
}
.fusion-meta-info {
  clear: both;
  overflow: hidden;
  margin-top: 20px;
  padding: 5px 0;
  border-top: 1px solid #e7e6e6;
  border-bottom: 1px solid #e7e6e6;
  font-size: 12px;
}
.fusion-meta-info .fusion-alignleft {
  width: 80%;
}
.fusion-single-line-meta {
  margin-bottom: 20px;
  font-size: 12px;
}
.fusion-content-sep {
  margin-top: 20px;
  height: 6px;
  border-top: 1px solid #EAEAEA;
  border-bottom: 1px solid #EAEAEA;
}
/* Alternate layout elements */
.fusion-date-and-formats {
  float: left;
  margin-right: 17px;
  width: 82px;
  text-align: center;
}
.fusion-date-and-formats .fusion-date-box {
  padding: 8px 0 5px 0px;
  color: #fff;
}
.fusion-date-and-formats .fusion-date {
  display: block;
  line-height: 29px;
  font-size: 29px;
  font-weight: bold;
}
.fusion-date-and-formats .fusion-format-box {
  margin-top: 3px;
  background-color: #eef0f2;
}
.fusion-date-and-formats .fusion-format-box i {
  display: block;
  line-height: 55px;
  font-size: 30px;
}
/* Timeline elements */
.fusion-timeline-line {
  position: absolute;
  left: 50%;
  top: 0;
  margin-left: -1px;
  height: 100%;
  border-left: 1px solid #efeeee;
  border-right: 1px solid #ebeaea;
}
.fusion-timeline-icon {
  margin: 0 auto -20px;
  max-width: 1000px;
  font-size: 46px;
  color: #ebeaea;
  text-align: center;
}
.fusion-timeline-icon .fusionicon-bubbles {
  cursor: pointer;
}
.fusion-timeline-circle {
  position: absolute;
  left: 50%;
  margin: 10px 0 0 -5px;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: #efeeee;
}
.fusion-timeline-arrow {
  position: absolute;
}
.fusion-timeline-arrow:before {
  color: #E9EAEE;
  font-family: 'icomoon';
  font-size: 28px;
  position: absolute;
  top: 0px;
  line-height: 30px;
}
/* General blog elements that are also used outside blog */
.fusion-blog-archive .entry-title {
  margin-top: 0;
  margin-bottom: 5px;
}
/* Mixed layout styles */
.fusion-blog-layout-large .entry-title,
.fusion-blog-layout-medium .entry-title {
  margin-top: 0;
  margin-bottom: 25px;
}
.single-post .fusion-post-slideshow,
.single-wpfc_sermon .fusion-post-slideshow,
.fusion-blog-layout-large .fusion-post-slideshow,
.fusion-blog-layout-large-alternate .fusion-post-slideshow {
  margin-bottom: 30px;
}
.fusion-blog-layout-large-alternate .entry-title,
.fusion-blog-layout-medium-alternate .entry-title {
  margin-top: 0;
  margin-bottom: 5px;
}
.fusion-blog-layout-large-alternate .fusion-post-content-container,
.fusion-blog-layout-medium-alternate .fusion-post-content-container {
  margin-top: 20px;
}
.fusion-blog-layout-large-alternate .fusion-meta-info,
.fusion-blog-layout-medium-alternate .fusion-meta-info {
  margin-top: 0;
  border-top: 0;
}
.fusion-blog-layout-medium .fusion-post-slideshow,
.fusion-blog-layout-medium-alternate .fusion-post-slideshow {
  float: left;
  margin-right: 25px;
  width: 320px;
}
.fusion-blog-layout-grid .fusion-post-slideshow,
.fusion-blog-layout-timeline .fusion-post-slideshow {
  margin-bottom: 0;
  border-bottom: 1px solid #EAEAEA;
}
.fusion-blog-layout-grid .fusion-post-content-wrapper,
.fusion-blog-layout-timeline .fusion-post-content-wrapper {
  padding: 30px 25px 0px 25px;
}
.fusion-blog-layout-grid .fusion-post-content-container,
.fusion-blog-layout-timeline .fusion-post-content-container {
  margin-top: 20px;
}
.fusion-blog-layout-grid .fusion-meta-info,
.fusion-blog-layout-timeline .fusion-meta-info {
  margin-bottom: 20px;
  border: 0;
}
.fusion-blog-layout-grid .fusion-meta-info .fusion-alignleft,
.fusion-blog-layout-timeline .fusion-meta-info .fusion-alignleft {
  width: 50%;
}
.fusion-blog-layout-grid .fusion-password,
.fusion-blog-layout-timeline .fusion-password {
  width: auto;
  max-width: 100%;
}
/* Large alternate layout */
.fusion-blog-layout-large-alternate .fusion-post-content {
  margin-left: 110px;
}
/* Medium alternate layout */
.fusion-blog-layout-medium-alternate .fusion-post-slideshow {
  display: none;
}
.fusion-blog-layout-medium-alternate .fusion-post-content {
  margin-left: 99px;
}
.fusion-blog-layout-medium-alternate .has-post-thumbnail .fusion-post-slideshow {
  display: block;
  margin-right: 17px;
}
.fusion-blog-layout-medium-alternate .has-post-thumbnail .fusion-post-content {
  margin-left: 436px;
}
.fusion-blog-layout-medium-alternate.fusion-blog-no-images .fusion-post-content {
  margin-left: 99px;
}
/* Grid layout */
.fusion-blog-layout-grid .fusion-post-grid {
  margin-bottom: 0;
}
.fusion-blog-layout-grid .fusion-post-wrapper {
  border: 1px solid #EAEAEA;
  border-bottom-width: 3px;
}
.fusion-blog-layout-grid.fusion-blog-layout-grid-2 .post {
  width: 50%;
  display: inline-block;
  float: left;
}
.fusion-blog-layout-grid.fusion-blog-layout-grid-3 .post {
  width: 33%;
  display: inline-block;
  float: left;
}
.fusion-blog-layout-grid.fusion-blog-layout-grid-4 .post {
  width: 25%;
  display: inline-block;
  float: left;
}
.fusion-blog-layout-grid.fusion-blog-layout-grid-5 .post {
  width: 20%;
  display: inline-block;
  float: left;
}
.fusion-blog-layout-grid.fusion-blog-layout-grid-6 .post {
  width: 16.66%;
  display: inline-block;
  float: left;
}
.fusion-blog-layout-grid .fusion-post-content,
.fusion-blog-layout-grid .post-content {
  word-wrap: break-word;
}
/* Timeline layout */
.fusion-blog-layout-timeline {
  position: relative;
  margin: 0 auto;
  padding-top: 30px;
  max-width: 1000px;
  /* Needed here because of blog shortcode */
}
.fusion-blog-layout-timeline .fusion-post-timeline {
  position: static;
  margin-bottom: 40px;
  border: 1px solid #EAEAEA;
  border-bottom-width: 3px;
}
.fusion-blog-layout-timeline .fusion-left-column {
  float: left;
  clear: left;
  width: 40%;
}
.fusion-blog-layout-timeline .fusion-right-column {
  float: right;
  clear: right;
  width: 40%;
}
.fusion-blog-layout-timeline .fusion-timeline-date {
  position: relative;
  clear: both;
  margin: 0 auto 2px auto;
  padding: 4px 0;
  width: 108px;
  line-height: 20px;
  background: #efeeee;
  font-size: 13px;
  font-weight: normal;
  text-align: center;
  cursor: pointer;
}
.fusion-blog-layout-timeline .fusion-left-column .fusion-timeline-arrow {
  left: 40%;
  margin-left: -0.5px;
}
.fusion-blog-layout-timeline .fusion-left-column .fusion-timeline-arrow:before {
  content: '\f0da';
  left: 100%;
}
.fusion-blog-layout-timeline .fusion-right-column .fusion-timeline-arrow {
  right: 40%;
  margin-right: -0.5px;
}
.fusion-blog-layout-timeline .fusion-right-column .fusion-timeline-arrow:before {
  content: '\f0d9';
  right: 100%;
}
.fusion-blog-infinite .pagination {
  display: none;
}
.fusion-blog-infinite .fusion-load-more-button {
  margin-bottom: 40px;
}

/* Rollovers */
.fusion-image-wrapper {
  overflow: hidden;
  z-index: 1;
  position: relative;
}
.fusion-image-wrapper:hover .fusion-rollover {
  opacity: 1;
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
  -webkit-transform-style: preserve-3d;
}
.no-csstransforms .fusion-image-wrapper:hover .fusion-rollover {
  display: block;
}
.fusion-image-wrapper.fusion-video {
  display: block;
}
.fusion-image-size-fixed {
  display: inline-block;
  max-width: 100%;
  vertical-align: top;
}
.fusion-rollover {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100.1%;
  height: 100.1%;
  line-height: normal;
  text-align: center;
  background-image: linear-gradient(to top, #aad75d, #d1e990);
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  transition: all 0.3s ease-in-out;
  -webkit-transform-style: preserve-3d;
}
.fusion-rollover:before {
  display: inline-block;
  content: '';
  vertical-align: middle;
  height: 100%;
}
.no-csstransforms .fusion-rollover {
  display: none;
}
.products .product .fusion-clean-product-image-wrapper .fusion-rollover-content .fusion-product-buttons,
.fusion-carousel-title-below-image .fusion-clean-product-image-wrapper .fusion-rollover-content .fusion-product-buttons {
  position: static;
  padding: 0;
}
.fusion-rollover-content {
  display: inline-block;
  vertical-align: middle;
  padding: 10px;
  height: auto;
  width: 90%;
}
.fusion-rollover-content .fusion-rollover-title,
.fusion-rollover-content .fusion-rollover-categories,
.fusion-rollover-content .price {
  margin: 0;
  line-height: normal;
  font-size: 13px;
  color: #333333;
}
.fusion-rollover-content .fusion-rollover-title {
  margin-bottom: 3px;
  margin-top: 10px;
}
.fusion-rollover-content .fusion-rollover-categories a {
  font-size: 11px;
}
.fusion-rollover-content .fusion-rollover-categories a:hover {
  color: #444;
}
.fusion-rollover-content .price {
  display: inline-block;
}
.fusion-rollover-content .fusion-product-buttons {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 15px;
  padding: 0 10%;
  height: 40px;
  width: 100%;
}
.fusion-rollover-content .fusion-product-buttons a {
  display: block;
  margin-top: 10px;
  padding-left: 16px;
  width: auto;
  line-height: normal;
  text-align: left;
  max-width: 49%;
  font-size: 12px;
  box-sizing: border-box;
}
.fusion-carousel-title-below-image .fusion-rollover-content .fusion-product-buttons a {
  max-width: none;
}
.fusion-rollover-content .fusion-product-buttons a:first-child {
  float: left;
}
.fusion-rollover-content .fusion-product-buttons a:first-child:before {
  position: absolute;
  margin-left: -16px;
  content: '\f07a';
  font-family: 'icomoon';
}
.fusion-rollover-content .fusion-product-buttons a:last-child {
  float: right;
}
.fusion-rollover-content .fusion-product-buttons a:last-child:before {
  position: absolute;
  margin-left: -16px;
  content: '\e623';
  font-family: 'icomoon';
}
.fusion-rollover-content .fusion-product-buttons a.added_to_cart {
  display: none;
}
.fusion-rollover-sep {
  display: inline-block;
  vertical-align: middle;
  height: 36px;
  width: 5px;
}
.fusion-rollover-link,
.fusion-rollover-gallery {
  display: inline-block;
  opacity: 0.9;
  position: relative;
  vertical-align: middle;
  margin: 0;
  height: 36px;
  width: 35px;
  text-indent: -10000px;
  background-color: #333;
  border-radius: 50%;
  /* Fix to make border-radius work for transparent colors */
  background-clip: padding-box;
}
.fusion-rollover-link:hover,
.fusion-rollover-gallery:hover {
  opacity: 1;
}
.fusion-rollover-link:before,
.fusion-rollover-gallery:before {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  text-indent: 0;
  line-height: 36px;
  text-shadow: none;
  font-family: 'icomoon';
  font-size: 15px;
  color: #fff;
  -webkit-font-smoothing: antialiased;
}
.fusion-rollover-link:before {
  content: '\e619';
}
.fusion-rollover-gallery:before {
  content: '\f002';
}
.fusion-placeholder-image {
  max-width: 100%;
  background-color: #f6f6f6;
}
.fusion-hidden-content {
  overflow: hidden;
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
}

.fusion-content-widget-area .widget_recent_entries ul {
  padding: 0;
}
.woocommerce-tabs .tabs a:hover .arrow:after,
.woocommerce-tabs .tabs li.active a .arrow:after,
.widget_layered_nav li a:before,
.widget_product_categories li a:before {
  position: absolute;
  font-size: 14px;
  font-family: 'icomoon';
  content: '\f105';
  margin-left: -12px;
}
.fusion-widget-area .widget_nav_menu li a:before,
.fusion-widget-area .widget_categories li a:before,
.fusion-widget-area .widget_meta li a:before,
.fusion-widget-area .widget .recentcomments:before,
.fusion-widget-area .widget_recent_entries li a:before,
.fusion-widget-area .widget_archive li a:before,
.fusion-widget-area .widget_pages li a:before,
.fusion-widget-area .widget_links li a:before {
  position: absolute;
  font-size: 14px;
  font-family: 'icomoon';
  content: '\f105';
  margin-left: -12px;
}
.fusion-widget-area .widget_nav_menu li,
.fusion-widget-area .widget_categories li,
.fusion-widget-area .widget_product_categories li,
.fusion-widget-area .widget_meta li,
.fusion-widget-area .widget .recentcomments,
.fusion-widget-area .widget_recent_entries li,
.fusion-widget-area .widget_archive li,
.fusion-widget-area .widget_pages li,
.fusion-widget-area .widget_links li,
.fusion-widget-area .widget_layered_nav li,
.fusion-widget-area .widget_product_categories li {
  display: block;
  padding: 10px 10px 10px 12px;
  border-bottom: 1px solid #e7e6e6;
  color: #333;
}
.fusion-widget-area .widget_categories li {
  position: relative;
}
.fusion-widget-area .widget_categories li span {
  position: absolute;
}
.fusion-widget-area .widget_categories .children {
  margin-left: 5px;
}
.fusion-widget-area .widget_categories li .children li:last-child,
.fusion-widget-area .widget_product_categories li .children li:last-child {
  padding-bottom: 0;
  border-bottom: none;
}
.shortcode-tabs .tab_content ul.arrow {
  float: none;
}
.fusion-widget-area ul.arrow {
  list-style: none;
  margin: 0;
  padding: 0;
}
.fusion-widget-area ul.arrow li:before {
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #a0ce4e;
  height: 18px;
  border-radius: 75px;
  width: 18px;
  content: ' ';
  float: left;
  margin-right: 10px;
  margin-left: 0px;
}
.fusion-widget-area ul.arrow li {
  line-height: 18px;
  margin: 0;
  padding: 0;
  margin-bottom: 15px;
  padding-left: 0px;
}
.fusion-widget-area .sub-menu,
.fusion-widget-area .children,
.fusion-widget-area .sub-menu,
.fusion-widget-area .children,
#slidingbar-area .sub-menu,
#slidingbar-area .children {
  margin-left: 15px;
}

/* Sidebar */
.sidebar {
  width: 23.4042553%;
  float: right;
}
.sidebar .widget {
  margin-bottom: 45px;
  position: relative;
}
.sidebar .widget.flickr {
  overflow: hidden;
}
.sidebar .widget h4 {
  margin: 0;
  padding: 0;
  font-size: 13px;
  margin-bottom: 18px;
  color: #333333;
}
.sidebar .widget ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.sidebar .widget li {
  margin: 0;
  padding: 0;
  display: block;
}

.fusion-row {
  margin: 0 auto;
  zoom: 1;
}
.fusion-row:before,
.fusion-row:after {
  content: " ";
  display: table;
}
.fusion-row:after {
  clear: both;
}
.fusion-alignleft {
  display: inline;
  float: left;
  margin-right: 15px;
}
.fusion-alignright {
  display: inline;
  float: right;
  margin-left: 15px;
}
.fusion-aligncenter {
  display: block;
  clear: both;
  margin: 0 auto;
  text-align: center;
}
.fusion-columns {
  margin: 0 -15px;
}
.fusion-columns-5 .col-lg-2,
.fusion-columns-5 .col-md-2,
.fusion-columns-5 .col-sm-2,
.fusion-columns-5 .col-xs-2 {
  width: 20%;
}
.fusion-block-element {
  display: block;
}
.fusion-hidden {
  display: none;
}
.fusion-responsive-img {
  margin: 0;
}

/* Search Form */
.searchform .search-field {
  display: table-cell;
  vertical-align: top;
}
.searchform .search-button {
  display: table-cell;
  width: 33px;
  vertical-align: top;
}
.searchform .search-table .search-field input {
  color: #AAA9A9;
  background-color: #ffffff;
  border: 1px solid #D2D2D2;
  color: #747474;
  font-size: 13px;
  padding: 8px 15px;
  height: 33px;
  width: 100%;
  box-sizing: border-box;
  margin: 0;
}
.searchform .search-table .search-button input[type="submit"] {
  background: #000000;
  border: none;
  border-radius: 0;
  color: #FFFFFF;
  font-size: 1em;
  height: 33px;
  line-height: 33px;
  margin: 0;
  padding: 0;
  width: 33px;
  text-indent: 0;
  cursor: pointer;
  font-family: 'icomoon';
  font-weight: normal;
  text-shadow: none;
  -webkit-font-smoothing: antialiased;
  transition: all .2s;
}
.searchform .search-table .search-button input[type="submit"]:hover {
  background: #A0CE4E;
}
.search-page-search-form-top {
  padding-bottom: 60px;
  border-bottom: 1px solid #E6E5E6;
  margin-bottom: 60px;
}
.search-page-search-form-bottom {
  padding-top: 60px;
  border-top: 1px solid #E6E5E6;
  margin-top: 60px;
}
.search-page-search-form .seach-form {
  text-align: right;
}
.search-page-search-form .seach-form .search-table .search-field input {
  text-indent: 0;
}

.search-table {
  display: table;
  width: 100%;
}
.header-v4 .search-table {
  display: table;
  width: 286px;
}

.screen-reader-text {
  overflow: hidden;
  clip: rect(0px, 0px, 0px, 0px);
  position: absolute;
  margin: -1px;
  padding: 0;
  height: 1px;
  width: 1px;
  word-wrap: normal !important;
  border: 0 none;
}

/* Sep */
.fusion-inline-sep {
  padding: 0 5px;
}
.fusion-inline-sep:last-child {
  display: none;
}

/* =================================================================================================
Table of Contents
----------------------------------------------------------------------------------------------------
  01 IcoMoon Font Face Definition
  02 IcoMoon Icon Styles
================================================================================================= */
/* IcoMoon Font Face Definition
================================================================================================= */
@font-face {
  font-family: 'icomoon';
  src: url('../assets/fonts/icomoon/icomoon.eot');
  src: url('../assets/fonts/icomoon/icomoon.eot?#iefix') format('embedded-opentype'), url('../assets/fonts/icomoon/icomoon.woff') format('woff'), url('../assets/fonts/icomoon/icomoon.ttf') format('truetype'), url('../assets/fonts/icomoon/icomoon.svg?#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* IcoMoon Font Face Definition
================================================================================================= */
[class^="fusion-icon-"],
[class*=" fusion-icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.fusion-icon-angle-down:before {
  content: "\f107";
}
.fusion-icon-TFicon:before {
  content: "\e62d";
}
.fusion-icon-bars:before {
  content: "\f0c9";
}
.fusion-icon-angle-left:before {
  content: "\f104";
}
.fusion-icon-search:before {
  content: "\f002";
}
.fusion-icon-vk:before {
  content: "\f189";
}
.fusion-icon-check-square-o:before {
  content: "\f046";
}
.fusion-icon-check-circle-o:before {
  content: "\f05d";
}
.fusion-icon-shopping-cart:before {
  content: "\f07a";
}
.fusion-icon-angle-right:before {
  content: "\f105";
}
.fusion-icon-angle-up:before {
  content: "\f106";
}
.fusion-icon-spinner:before {
  content: "\f110";
}
.fusion-icon-star:before {
  content: "\f005";
}
.fusion-icon-gear:before {
  content: "\f013";
}
.fusion-icon-star-o:before {
  content: "\f006";
}
.fusion-icon-caret-left:before {
  content: "\f0d9";
}
.fusion-icon-caret-right:before {
  content: "\f0da";
}
.fusion-icon-grid:before {
  content: "\e614";
}
.fusion-icon-pen:before {
  content: "\e600";
}
.fusion-icon-film:before {
  content: "\e628";
}
.fusion-icon-arrow-left:before {
  content: "\e61e";
}
.fusion-icon-plus:before {
  content: "\e61d";
}
.fusion-icon-minus:before {
  content: "\e61c";
}
.fusion-icon-arrow-down:before {
  content: "\e61f";
}
.fusion-icon-uniE620:before {
  content: "\e620";
}
.fusion-icon-paypal:before {
  content: "\e60e";
}
.fusion-icon-tumblr:before {
  content: "\e613";
}
.fusion-icon-googleplus:before {
  content: "\e900";
}
.fusion-icon-arrow-down2:before {
  content: "\e621";
}
.fusion-icon-instagram:before {
  content: "\e615";
}
.fusion-icon-forrst:before {
  content: "\e617";
}
.fusion-icon-facebook:before {
  content: "\e604";
}
.fusion-icon-flickr:before {
  content: "\e608";
}
.fusion-icon-feed:before,
.fusion-icon-rss:before {
  content: "\e606";
}
.fusion-icon-twitter:before {
  content: "\e605";
}
.fusion-icon-vimeo:before {
  content: "\e607";
}
.fusion-icon-dribbble:before {
  content: "\e609";
}
.fusion-icon-skype:before {
  content: "\e618";
}
.fusion-icon-youtube:before {
  content: "\e622";
}
.fusion-icon-blogger:before {
  content: "\e60b";
}
.fusion-icon-link:before {
  content: "\e619";
}
.fusion-icon-image:before {
  content: "\e624";
}
.fusion-icon-images:before {
  content: "\e625";
}
.fusion-icon-reddit:before {
  content: "\e60d";
}
.fusion-icon-soundcloud:before {
  content: "\e60c";
}
.fusion-icon-quotes-left:before {
  content: "\e627";
}
.fusion-icon-bubbles:before {
  content: "\e62a";
}
.fusion-icon-headphones:before {
  content: "\e629";
}
.fusion-icon-deviantart:before {
  content: "\e626";
}
.fusion-icon-digg:before {
  content: "\e610";
}
.fusion-icon-mail:before {
  content: "\e616";
}
.fusion-icon-dropbox:before {
  content: "\e611";
}
.fusion-icon-linkedin:before {
  content: "\e60f";
}
.fusion-icon-myspace:before {
  content: "\e603";
}
.fusion-icon-pinterest:before {
  content: "\e602";
}
.fusion-icon-yahoo:before {
  content: "\e601";
}
.fusion-icon-list:before {
  content: "\e623";
}
.fusion-icon-user2:before {
  content: "\e61b";
}
.fusion-icon-user:before {
  content: "\e61a";
}
.fusion-icon-xing:before {
  content: "\e4d8";
}
.fusion-icon-xing2:before {
  content: "\e4d9";
}





